{% extends 'base/base.html' %}

{% block page_content %}
<form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="col-xl-6 col-md-6 mb-6">
        {% if obj %}
            <div class="card border-left-warning shadow h-100 py-2">
        {% else %}
            <div class="card border-left-success shadow h-100 py-2">
        {% endif %}
            <div class="card-body">
            
                <div class="row no-gutters align-items-center">

                    <div class="col mr-2">
                        {% if obj %}
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Editar Marca</div>
                        {% else %}
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nueva Marca</div>
                        {% endif %}
                        
                        <div class="dropdown-divider"></div>

                        <div class="row">

                            <div class="col-10">
                                <div class="input-group">

                                    {% comment %} <input type="text" name="descripcion" maxlength="100" class="form-control" required id="id_descripcion" placeholder="Marca" 
                                    value="{% if obj %} {{obj.descripcion}} {% endif %}"> {% endcomment %}
                                    {{ form.descripcion }}

                                </div>
                                
                            </div> 
                            <!-- col-10 -->

                            <div class="col-2">
                                {% comment %} <div class="form-group">
                                    <label for="id_estado">Estado</label>
                                    <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if obj.estado %} checked {% endif %} >
                                </div> {% endcomment %}
                                <div class="input-group">
                                    {{ form.estado }}
                                </div>
                                
                            </div>
                            <!-- col-2-->

                        </div> <!-- row -->

                        
                    
                        <div class="dropdown-divider"></div>

                        <div class="row">
                        
                            <div class="col">
                            
                                <button type="submit" class="btn btn-danger"> <span class="fa fa-save fa-fw"></span>Guardar </button>
                                <a href="{% url 'inv:marca_list' %}" class="btn btn-success"> <span class="fa fa-undo fa-fw"></span>Cancelar </a>

                            </div><!-- col -->

                        </div><!-- row -->
                    </div>

                </div>

            </div>

        </div>
    </div>
</form>
{% endblock page_content %}

{% block js_page %}



{% endblock js_page %}